<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- <a href="#" class="navbar-brand">Dendro</a> -->
    <div class="logo">
      <img src="./assets/images/plantlogo.png" alt=" ">
      <h1><span>Dendro</span>Stock</h1>
    </div>
    <!-- <ul class="navbar-nav mr-auto" routerLinkActive="active">
      
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul> -->
  
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" style="font-family:verdana; color:white" class="nav-link" routerLink="register"><b>Register</b></a>
      </li>
      <li class="nav-item">
        <a href="/login" style="font-family:verdana; color:white"  class="nav-link" routerLink="login"><b>Login</b></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/home"  style="font-family:verdana; color:white" class="nav-link" routerLink="home"><b>Home </b></a>
      </li>
      <li class="nav-item">
        <a href="/services" style="font-family:verdana; color:white" class="nav-link"> <b>Services</b></a>
        <div class="service-menu">
          <ul>
            <li><a style="font-family:verdana; color:white" href="/services" routerLink="#">Plants</a></li>
            <li><a style="font-family:verdana; color:white" href="/services" routerLink="#">Seeds</a></li>
            <li><a style="font-family:verdana; color:white" href="/services" routerLink="#">Pots</a></li>
            <li><a style="font-family:verdana; color:white" href="/services" routerLink="#">Soils</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a style="font-family:verdana; color:white" class="nav-link" routerLink="contactus" href="/contactus"><b>Contact us</b></a>
      </li>
      <li class="nav-item">
        <!-- <a href="/profile" style="font-family:verdana; color:white" class="nav-link" routerLink="profile"><b>{{ username }}</b></a> -->
        <a href="/profile" style="font-family:verdana; color:white" class="nav-link" routerLink="profile"><b>Profile</b></a>
      </li>
      <li class="nav-item">
        <a href="/login"  style="font-family:verdana; color:white" class="nav-link" (click)="logout()"><b>LogOut</b></a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>